<div ng-controller="ng-publish-version-ctrl">

  <form>
    <legend>Data Version</legend>

    <div ng-repeat="(label, number) in version track by label">
      <div class="input-group">
        <span class="input-group-addon">{{label}}</span>
        <input type="number" class="form-control" ng-model="version[label]" ng-change="onVersionChanged(label, number)">
      </div>
      <br>
    </div>
  </form>

  <nav>
    <ul class="pager">
        <li class="previous"><a href="#publish/release"><span aria-hidden="true">&larr;</span> Previous</a></li>

        <li class="controls">
            <button type="button" class="btn" ng-show="isVersionChanged" ng-click="resetVersion()">Reset</button> 
        </li>

        <li class="next"><a ng-click="leaveVersion()">Next <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="submitVersionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Save Data Version</h4>
                </div>
                <div class="modal-body">
                Do you make sure submit the changes on this release?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="saveVersion()">Submit</button>
                </div>
            </div>
        </div>
    </div>

</div>
