<div ng-controller="ng-publish-ctrl">

  <form>
      <fieldset>

        <legend>Data Version</legend>

        <div ng-repeat="(label, number) in version track by label">
          <div class="controls controls-row">
            <span class="control-label span4">{{label}}</span>
            <input type="number" class="span8" ng-model="version[label]" ng-change="onVersionChanged(label, number)">
          </div>
        </div>
          
      </fieldset>

  </form>

  <nav>
    <ul class="pager">
        <li class="previous"><a href="#publish/release"><span aria-hidden="true">&larr;</span> Previous</a></li>

        <li class="controls">
            <button type="submit" class="btn btn-primary" 
                    data-toggle="modal" data-target="#submitVersionModal"
                    ng-show="isVersionChanged">Save</button> 
            <button type="button" class="btn" ng-show="isVersionChanged" ng-click="resetVersion()">Reset</button> 
        </li>

        <li class="next"><a href="#publish/notification">Next <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>

  <!-- Modal -->

  <div id="submitVersionModal" class="modal hide fade" tabindex="-1" role="dialog" 
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="myModalLabel">Submitting ...</h4>
    </div>

    <div class="modal-body">
      Do you make sure submit the changes on the version?
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary" ng-click="saveVersion()">Submit</button>
    </div>
  </div>

</div>
