<div ng-controller="ng-release-manage-ctrl">
  <form >
    <legend>Latest Issue</legend>

    <div class="controls controls-row">
      <span class="control-label span1">期号</span>
      <input class="span5" type="number" ng-model="currentIssue">
      <span class="control-label span1">日期</span>
      <input class="span5" type="date" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">奖号</span>
      <input class="span11" type="text" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">奖池</span>
      <input class="span5" type="number" ng-model="currentIssue">
      <span class="control-label span1">销售</span>
      <input class="span5" type="number" ng-model="currentIssue">
    </div> 

    <div class="controls controls-row">
      <span class="span2">一等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="currentIssue">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="span2">二等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="currentIssue">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="span2">三等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="currentIssue">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="span2">四等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="currentIssue">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="span2">五等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="currentIssue">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="span2">六等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="currentIssue">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">奖池</span>
      <input class="span11" type="text" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">顺序</span>
      <input class="span11" type="text" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">下期</span>
      <input class="span5" type="number" ng-model="currentIssue">
      <span class="control-label span1">日期</span>
      <input class="span5" type="date" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">红胆</span>
      <input class="span5" type="text" ng-model="currentIssue">
      <span class="control-label span1">红杀</span>
      <input class="span5" type="text" ng-model="currentIssue">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">蓝胆</span>
      <input class="span5" type="text" ng-model="currentIssue">
      <span class="control-label span1">蓝杀</span>
      <input class="span5" type="text" ng-model="currentIssue">
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary" ng-show="IsVersionChanged" ng-click="SaveVersion()">Save</button> 
        <button type="button" class="btn" ng-show="IsVersionChanged" ng-click="resetVersion()">Reset</button> 
      </div>
    </div> 

  </form>

  <form class="form-horizontal" >

      <fieldset>
          <legend>Data Version</legend>

          <div ng-repeat="(label, number) in version track by label">
              <div class="control-group">
                  <span class="control-label">{{label}}</span>
                  <div class="controls">
                    <input type="number" class="span4" ng-model="version[label]" ng-change="onVersionChanged(label, number)">
                  </div>
              </div>   
          </div>

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary" ng-show="IsVersionChanged" ng-click="SaveVersion()">Save</button> 
              <button type="button" class="btn" ng-show="IsVersionChanged" ng-click="resetVersion()">Reset</button> 
            </div>
          </div> 
          
      </fieldset>

  </form>
  
  <p>
      {{content}}
  </p>
</div>
