<div ng-controller="ng-release-manage-ctrl">
  <form >
    
    <legend>
      <div class="controls controls-row">   
        <span class="control-label span8">Release Date</span>     
        <div class="control-group span4">
          <div class="controls">
            <button type="submit" href="#users" class="btn btn-primary" 
                    data-toggle="modal" data-target="#submitReleaseDataModal" 
                    ng-show="isReleaseDataChanged">Save</button> 
            <button type="button" class="btn" ng-show="isReleaseDataChanged" ng-click="resetReleaseData()">Reset</button> 
          </div>
        </div> 
      </div>
    </legend>  

    <div class="controls controls-row">
      <span class="control-label span1">期号</span>
      <input class="span5" type="number" ng-model="releaseContent.issue" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">日期</span>
      <input class="span5" type="date" ng-model="releaseContent.date" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">奖号</span>
      <input class="span11" type="text" ng-model="releaseContent.scheme" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">奖池</span>
      <input class="span5" type="number" ng-model="releaseContent.pool" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">销售</span>
      <input class="span5" type="number" ng-model="releaseContent.sell" ng-change="onReleaseDataChanged()">
    </div> 

    <div class="controls controls-row">
      <span class="span2">一等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusCounts[0]" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusPrizes[0]" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="span2">二等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusCounts[1]" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusPrizes[1]" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="span2">三等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusCounts[2]" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusPrizes[2]" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="span2">四等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusCounts[3]" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusPrizes[3]" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="span2">五等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusCounts[4]" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusPrizes[4]" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="span2">六等奖</span>
      <span class="control-label span1">数量</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusCounts[5]" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">奖金</span>
      <input class="span4" type="number" ng-model="releaseContent.bonusPrizes[5]" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">详情</span>
      <textarea class="span11" rows="3" type="text" ng-model="releaseContent.details" ng-change="onReleaseDataChanged()"></textarea>
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">下期</span>
      <input class="span5" type="number" ng-model="releaseContent.next.issue" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">日期</span>
      <input class="span5" type="date" ng-model="releaseContent.next.date" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">红胆</span>
      <input class="span5" type="text" ng-model="releaseContent.forcast.includedReds" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">红杀</span>
      <input class="span5" type="text" ng-model="releaseContent.forcast.excludedReds" ng-change="onReleaseDataChanged()">
    </div>

    <div class="controls controls-row">
      <span class="control-label span1">蓝胆</span>
      <input class="span5" type="text" ng-model="releaseContent.forcast.includedBlues" ng-change="onReleaseDataChanged()">
      <span class="control-label span1">蓝杀</span>
      <input class="span5" type="text" ng-model="releaseContent.forcast.excludedBlues" ng-change="onReleaseDataChanged()">
    </div>

  </form>

  <form>
      <fieldset>

        <legend>
          <div class="controls controls-row">   
            <span class="control-label span8">Data Version</span>     
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary" 
                        data-toggle="modal" data-target="#submitVersionModal"
                        ng-show="isVersionChanged">Save</button> 
                <button type="button" class="btn" ng-show="isVersionChanged" ng-click="resetVersion()">Reset</button> 
              </div>
            </div>  
          </div>
        </legend> 

        <div ng-repeat="(label, number) in version track by label">
          <div class="controls controls-row">
            <span class="control-label span4">{{label}}</span>
            <input type="number" class="span8" ng-model="version[label]" ng-change="onVersionChanged(label, number)">
          </div>
        </div>
          
      </fieldset>

  </form>

  <!-- Modal -->
  <div id="submitReleaseDataModal" class="modal hide fade" tabindex="-1" role="dialog" 
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="myModalLabel">Submitting ...</h4>
    </div>

    <div class="modal-body">
      Do you make sure submit the changes on this release?
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary" ng-click="saveReleaseData()">Submit</button>
    </div>
  </div>

  <div id="submitVersionModal" class="modal hide fade" tabindex="-1" role="dialog" 
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 id="myModalLabel">Submitting ...</h4>
    </div>

    <div class="modal-body">
      Do you make sure submit the changes on the version?
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary" ng-click="saveVersion()">Submit</button>
    </div>
  </div>

</div>
