Cloud/.vs/
Cloud/DBCloudService/bin/
Cloud/DBCloudService/csx/
*.wadcfgx
*.wadcfg
Cloud/DBCloudService/obj/
Cloud/DBSQLService/bin/
Cloud/DBSQLService/obj/
Cloud/packages/Microsoft.AspNet.Mvc.4.0.20710.0/Microsoft.AspNet.Mvc.4.0.20710.0.nupkg
Cloud/packages/
MFC/LuckyBalls/Debug/
MFC/LuckyBalls/Release/
MFC/LuckyBallsRes/Debug/
MFC/LuckyBallsRes/x64/
MFC/LuckyBallsRes/Release/
*.dat
*.vspx
*.psess
Metro/LuckyBallSpirit/AppPackages/
Metro/LuckyBallSpirit/bin/
Metro/LuckyBallSpirit/obj/
Metro/LuckyBallsData/bin/
Metro/LuckyBallsData/obj/
WP/packages/
WP/LuckyBallData/obj/
WP/LuckyBallsSpirit/Bin/
WP/LuckyBallsSpirit/PerfLogs/
WP/LuckyBallsSpirit/obj/
WPF/LuckyBallsData/bin/
WPF/LuckyBallsData/obj/
WPF/LuckyBallsServer/bin/
WPF/LuckyBallsServer/obj/
WPF/packages/
Android/.metadata/
Android/LotterySpirit/bin/
Android/LotterySpirit/gen/
Android/android-support-v7-appcompat/bin/
Android/android-support-v7-appcompat/gen/
Android/android-support-v7-gridlayout/bin/
Android/android-support-v7-gridlayout/gen/
Android/BDIntegrationSDK_LibProject/bin/
Android/BDIntegrationSDK_LibProject/gen/
Cloud/DBWebApp/obj/
Cloud/DBWebApp/node_modules/
*.suo
*.user
MFC/Debug/
*.aps
MFC/Release/
MFC/x64/
MFC/Win32/
Metro/packages/
WP/LuckyBallData/Bin/
WP/UpgradeLog.htm
Cloud/DBWebApp/bin/
Cloud/UpgradeLog.htm
Cloud/DBCloudService.VC.opendb
Cloud/DBCloudService.sdf
Android_Studio/.gradle/
Android_Studio/app/build/
Android_Studio/.idea/
Android_Studio/build/
Android_Studio/gradle/
Android_Studio/local.properties
Android_Studio/Android_Studio.iml
Android_Studio/app/app.iml
Android_Studio/app/app-release.apk
MatrixBuilder/obj/
MatrixBuilder/packages/
MatrixBuilder/bin/
MatrixBuilder/profiles/
