<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="4b4c7f7c-a583-4449-8166-e63450073c5d" Publisher="CN=InMobi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>IMAdViewFromXAML</DisplayName>
    <PublisherDisplayName>InMobi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="IMAdViewFromXAML.App">
      <VisualElements DisplayName="IMAdViewFromXAML" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="IMAdViewFromXAML" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" Executable="IMAdViewFromXAML.exe" EntryPoint="IMAdViewFromXAML.App">
          <FileTypeAssociation Name="inmobi">
            <DisplayName>inmobi</DisplayName>
            <EditFlags AlwaysUnsafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="text/plain">.dat</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>