<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fookwin.lotteryspirit"
    android:versionCode="01000400"
    android:versionName="1.0.4.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名-->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.fookwin.lotteryspirit" />
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.fookwin.lotteryspirit"
        android:protectionLevel="normal">
    </permission>

    <application
        android:name="com.fookwin.LotterySpirit"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".LotteryDetailActivity"
            android:label="@string/title_activity_lottery_detail" >
        </activity>
        <activity
            android:name=".AttributeDetailActivity"
            android:label="@string/title_activity_filter_detail" >
        </activity>
        <activity
            android:name=".SelectorEditorActivity"
            android:label="@string/title_activity_scheme_editor"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ConstraintEditorActivity"
            android:label="@string/title_activity_filter_editor" >
        </activity>
        <activity
            android:name=".ExportSelectionActivity"
            android:label="@string/title_activity_export_selection"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".AttributeFilterOptionActivity"
            android:label="@string/title_activity_attribute_filter_option" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".DonationActivity"
            android:label="@string/title_activity_donation" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".UserCenterActivity"
            android:label="@string/title_activity_user_center" >
        </activity>
        <activity
            android:name=".SelectorsActivity"
            android:label="@string/title_activity_lottery_selection" >
        </activity>
        <activity
            android:name=".LotteryHistoryActivity"
            android:label="@string/title_activity_lottery_history" >
        </activity>
        <activity
            android:name=".LotteryTrendChartActivity"
            android:label="@string/title_activity_lottery_trend_chart" >
        </activity>
        <activity
            android:name=".LotteryAttributeActivity"
            android:label="@string/title_activity_lottery_attribute" >
        </activity>
        <activity
            android:name=".PurchaseDetailActivity"
            android:label="@string/title_activity_purchase_detail" >
        </activity>
        <activity
            android:name=".ConstraintsActivity"
            android:label="@string/title_activity_lottery_filter" >
        </activity>
        <activity
            android:name=".SchemesActivity"
            android:label="@string/title_activity_schemes" >
        </activity>
        <activity
            android:name=".ListFillingHelperActivity"
            android:label="@string/title_activity_list_filling_helper" >
        </activity>

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
        <service android:name="com.qq.e.comm.DownloadService" android:exported="false" />

        <!-- push service start -->

        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求-->
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 此处Receiver名字修改为当前包名路径 -->
        <receiver android:name="com.fookwin.lotteryspirit.LotteryPushNotificationReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind、setTags等method的返回结果-->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <service android:name="com.baidu.android.pushservice.PushService" android:exported="true" android:process=":bdservice_v1" >
            <intent-filter >
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service android:name="com.baidu.android.pushservice.CommandService" android:exported="true" />

        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.fookwin.lotteryspirit.bdpush"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.fookwin.lotteryspirit"
            android:protectionLevel = "signature"
            android:exported="true" />

        <!-- push结束 -->

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
            App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <!-- 您从百度网站获取的APP KEY，根据实际您的APP申请的APP_KEY进行修改 -->
        <meta-data android:name="BaiduMobAd_STAT_ID" android:value="3b6e20565d" />
        <!-- 渠道商编号 -->
        <meta-data android:name="BaiduMobAd_CHANNEL" android:value="Local" />
        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data android:name="BaiduMobAd_ONLY_WIFI" android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data android:name="BaiduMobAd_CELL_LOCATION" android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data android:name="BaiduMobAd_GPS_LOCATION" android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data android:name="BaiduMobAd_WIFI_LOCATION" android:value="true" />
    </application>

</manifest>