
/* Set the sizes of the elements that make up the progress bar */
.process-ring {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    background-image: url(../imgs/circle_arrow_24px.png);
    background-position-x: 0px;
}

.process-ring:hover {
    background-position-x: 24px;
}

/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
.process-ring.active[data-anim=rotating] {
    animation-iteration-count: infinite;  /* Only run once */
    animation-fill-mode: forwards; /* Hold the last keyframe */
    animation-timing-function:linear; /* Linear animation */
    animation-duration: 2s; /* Full animation time */
    animation-name: anim-rotating;
}

/* Rotate the left side of the progress bar from 0 to 360 degrees */
@keyframes anim-rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
