<MarketplaceDetails>
  <SmallAppTile>未标题-1 拷贝.png</SmallAppTile>
  <ScreenShots>1.png;2.png;3.png;6.png;7.png;9.png;10.png;11.png;</ScreenShots>
  <ScreenShotsWXGA>wxga (1).png;wxga (2).png;wxga (4).png;wxga (5).png;wxga (6).png;wxga (7).png;wxga (8).png;wxga (9).png;</ScreenShotsWXGA>
  <ScreenShots720P>720P (1).png;720P (2).png;720P (3).png;720P (4).png;720P (5).png;720P (7).png;720P (8).png;720P (9).png;</ScreenShots720P>
</MarketplaceDetails>