<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LuckyBallsData.Properties.Settings.AzureStorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=dbdatastorage;AccountKey=WLTFKIKa/7hEOEpmd92AuvJBEU6qbcjEAdQ1y3DrskQMpW3PhGgWa1Oq7BIOyebPtrR380atICJweBWf4uYTrg==" providerName="" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISqlService" closeTimeout="00:10:00" />
                <binding name="BasicHttpBinding_IDBManagement" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dbdataquery.cloudapp.net/DBSqlService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISqlService" contract="ServiceReference1.ISqlService" name="BasicHttpBinding_ISqlService" />
            <endpoint address="http://dbdataquery.cloudapp.net/DBManagement.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDBManagement" contract="DBManageServiceReference.IDBManagement" name="BasicHttpBinding_IDBManagement" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
